# Personal
.vscode/
.idea/
.DS_Store/
pyrightconfig.json
TODO.md

# Private data
metadata.json
.env
.dev.env

# Python
__pycache__/
.venv/
venv/

# React
node_modules/
build/
dist/
dist-ssr/

# Logs
logs/
*.log