.board {
  position: relative;
  display: grid;
  flex: 2;
  align-self: center;
}

.intersection {
  position: relative;
  aspect-ratio: 1 / 1;
  display: inline-block;
}

.stone {
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 30;
}

/* @media screen and (max-width: 1600px) { */
/*   .board { */
/*     flex: 3; */
/*   } */
/* } */

@media screen and (max-width: 1200px) {
  .board {
    flex: 0;
    align-self: auto;
  }
}