.gameTilesContainer {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

@media screen and (max-width: 1600px) {
  .gameTilesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .gameTilesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}